# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
.Python

# Virtual environments
.venv/
venv/
ENV/
env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
/media/
/staticfiles/

# Env / secrets
.env

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Build/artifacts
build/
dist/
.eggs/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
